version: '3.8'

### COMMANDS ###
# RUN: docker-compose up -d
# STOP: docker-compose down

services:
  db:
    image: postgres:15-alpine
    container_name: ecommerce-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./pg_data:/var/lib/postgresql/data
